@import "tailwindcss";

/* Poți adăuga aici animațiile sau stilurile personalizate */

@theme {
  --breakpoint-xs: 20rem;
  --animate-fedeOut-right: textFadeOutRight 2s ease-in-out forwards;
  --animate-fadeOut-left: textFadeOutLeft 2s ease-in-out forwards;
  --animate-navButtons: lightButton 1s ease forwards;
  --animate-slideIn-left: slideInLeft 1s ease-in-out forwards;
  --animate-slideIn-right: slideInRIght 1s ease-in-out forwards;
  --animate-initial-state: initialBtn 1s ease-in-out forwards;

  @keyframes textFadeOutRight {
    from {
      margin-right: 0;
      opacity: 100%;
    }
    to {
      margin-right: -10%;
      opacity: 0;
    }
  }
  @keyframes textFadeOutLeft {
    from {
      margin-left: 0;
      opacity: 100%;
    }
    to {
      margin-left: -10%;
      opacity: 0;
    }
  }
  @keyframes lightButton {
    from {
      background-color: #fefefe;
    }
    50% {
      background-color: rgb(221, 129, 23);
      color: #ffffff;
    }
    100% {
      background-color: #fefefe;
      color: #000000;
    }
  }
  @keyframes slideInRIght {
    from {
      margin-right: -10%;
      opacity: 0;
    }
    to {
      margin-right: 0;
      opacity: 100%;
    }
  }

  @keyframes slideInLeft {
    from {
      margin-left: -10%;
      opacity: 0;
    }
    to {
      margin-left: 0;
      opacity: 100%;
    }
  }
  @keyframes initialBtn {
    from {
      opacity: 0;
      margin-right: -2%;
    }
    to {
      opacity: 1;
      margin-right: 0;
    }
  }
}

:root {
  --initial-opacity: 0;
}

.initialState {
  opacity: var(--initial-opacity);
}
